@import url("https://fonts.googleapis.com/css?family=Archivo|Overpass" );

nav {
    text-align: right;
    background: rgba(0,0,0,1);
    font-family: 'Archivo', sans-serif;
    /* background: -webkit-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,.3)); */
    top: 0;
    padding: 10px 0 20px 0px;
    margin-bottom: 40px
}

.nav-link {
    display: inline;
    color: white;
    padding: 15px;
    margin: 8px 12px 0 12px;
    border: 1px solid #000;
    /* background: #000; */
    text-decoration: none;
}

.nav-select {
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.logo {
    float: left;
    list-style-type: none;
    color: white;
    padding: 15px;
    margin: -5px 0 40px 30px;
    border: 1px solid #000;
    background: #000;
    text-decoration: none;
    cursor: pointer;
}

.logo:hover {
    border-bottom: 1px solid #fff;
}

i {
    margin: 0 12px 0 12px;
    color: white;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .nav-link {
        display: block;
        text-align: center;
    }

    .logo {
        float: none;
        display: block;
        text-align: center;
        padding: 15px;
        margin: 8px 12px 0 12px;
    }

    i {
        display: inline;
        text-align: center;
    }
}