.work-heading {
    text-align: right;
    margin: 8% 2% 5% 0;
}

img {
    width: 100%;
}

.work-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-work {
    margin: 2em;
    max-width: 500px;
    background-color: #C2A681;
}

.work-label {
    font-weight: bold;
}

.work-link {
    text-decoration: none;
    color: black;
}
