.work-heading {
    text-align: right;
    margin: 8% 2% 5% 0;
}

img {
    max-width: 400px;
    width: 100%;
    height: 100%;
}

.work-card {
    display: flex;
    flex-direction: column-reverse;
    display: inline-block;
    margin-left: 35%;
}

a {
    text-decoration: none;
    color: white;
}
